<ul id="pages">
  <li><%= link_to "Molecules", molecules_path %></li>
  <li><%= link_to "Batches", batches_path %></li>
  <li><%= link_to "Transactions", transactions_path %></li>
  <li><%= link_to "Salts", salts_path %></li>
</ul>
