<table id="batches">
  <thead>
    <tr>
      <th id="batch_molecule">Molecule</th>
      <th id="batch_lot_number">Lot Number</th>
      <th id="batch_barcode">Barcode</th>
      <th id="batch_date">Date</th>
      <th id="batch_amount">Amount</th>
      <th id="batch_initial_amount">Initial Amount</th>
      <th id="batch_salt">Salt</th>
      <th id="batch_number_salts">Number of Salts</th>
      <th id="batch_fw">Formula Weight</th>
    </tr>
  </thead>
  <tbody>
    <%= render batches %>
  </tbody>
</table>
