<table id="transactions">
  <thead>
    <tr>
      <th id="transaction_molecule">Molecule</th>
      <th id="transaction_batch">Batch Number</th>
      <th id="transaction_amount">Amount</th>
      <th id="transaction_time">Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render transactions %>
  </tbody>
</table>

