<table id="transactions">
  <thead>
    <tr>
      <th id="transaction_id">ID</th>
      <th id="transaction_molecule">Molecule</th>
      <th id="transaction_batch">Lot Number</th>
      <th id="transaction_amount">Amount (mg)</th>
      <th id="transaction_user">User</th>
      <th id="transaction_time">Date</th>
    </tr>
  </thead>
  <tbody>
    <%= render transactions %>
  </tbody>
</table>

